* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
}


body * {
  color: #b3b3b3;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#nav {
  min-width: 155px;
  max-width: 393px;
  height: 90%;
  background-color: #000000;
  font-weight: 700;
  resize: horizontal;
  overflow: auto;
  /* cursor: col-resize; */
  scrollbar-width: 0;
}

#nav::-webkit-scrollbar {
  display: none;
}

#nav .logo {
  width: 100%;
  height: max-content;
  display: block;
  padding: 24px;
}

#nav .logo svg {
  display: block;
  width: 131px;
  height: 40px;
}

#nav .logo path {
  color: white;
}

svg {
  fill: currentColor;
}

a:hover span,
a:hover svg>path {
  color: white;
}

.sub-nav {
  height: max-content;
  list-style: none;
}

.sub-nav li {
  padding: 0 8px;
}

.links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 16px;
  height: 40px;
  font-size: 14px;
  gap: 16px;
}

.playlist {
  padding: 24px 0 0 0;
  height: max-content;
}

.playlist>div a {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  text-decoration: none;
}

.playlist>div>a>div {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b2b2b2;
}

.playlist>div>a>.two {
  color: white;
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.playlist>div>a>div path {
  color: #2c2c2c;
}

.playlist>div>a>.two path {
  color: white;
}

.user-content li:hover .list {
  color: white;
  width: 100%;
}

.user-content {
  border-top: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  margin: 9px 24px 0;
  padding: 8px 0;
  height: 488px;
  overflow-y: auto;
  scrollbar-width: none;
}

.user-content::-webkit-scrollbar {
  width: 0px;
}

.user-content ul {
  list-style: none;
  font-weight: 400;
}

.user-content ul>li {
  min-height: 32px;
  display: flex;
  align-items: center;
}

.user-content ul>li span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#player {
  position: absolute;
  height: 10%;
  width: 100%;
  padding: 0 16px;
  bottom: 0;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.album {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album img {
  height: 56px;
  width: 56px;
  object-fit: cover;
}

.album>div:nth-child(2) {
  height: 40px;
  font-size: 12px;
  margin: 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album h3 {
  font-size: 14px;
}

.album p {
  font-size: 11px;
}

.icon.like path {
  color: #1ed760;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

button.icon:hover path {
  color: white;

}

.controls .icon:nth-child(3) {
  background-color: white;
  border-radius: 999px;
  margin: 0 16px;
}

.controls .icon:nth-child(3):hover {
  background: none;
}

.controls .icon:nth-child(3) path {
  color: black;
}

.controls .icon:nth-child(3):hover path {
  color: white;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 56px;
  width: 534px;
}

.controls>div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 8px 0;
  gap: 8px;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.bar input {
  width: 100%;
  height: 4px;
}

.bar input[type="range"] {
  -webkit-appearance: none;
  background-color: #ddd;
  outline: none;
}

.bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1ed760;
  cursor: pointer;
}

/* Define a cor do polegar do controle de entrada "range" no navegador Edge */
.bar input[type="range"]::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1ed760;
  cursor: pointer;
}

.bar span {
  font-size: 11px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right input {
  height: 4px;
  width: 93px;
  background-color: #5e5e5e;
}

#content {
  width: 100%;
  height: 90%;
  overflow-y: auto;
  scrollbar-width: none;
  background: #000000;
}

#content::-webkit-scrollbar {
  display: none;
}

#content .bg {
  background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), var(--background-noise);
  padding: 24px 0 0 0;
  background-color: rgb(80, 56, 160);
}


#content nav {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 32px;
}

#content nav>div:nth-child(1) {
  width: max-content;
  display: flex;
  gap: 16px
}

#content nav>div:nth-child(2) {
  height: 32px;
  background-color: #18112e;
  border-radius: 999px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#content nav>div:nth-child(2)>span,
#content nav>div:nth-child(2)>svg {
  color: white;
  fill: white;
}

#content nav>div:nth-child(2) img {
  width: 28px;
  height: 28px;
  border-radius: 999px;
}

#content nav .icon {
  background-color: rgba(0, 0, 0, .7);
  border-radius: 999px;
}

#content header * {
  color: white;
}

#content header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
  padding: 0 32px;

}

#content header>img {
  height: 232px;
  width: 232px;
}

#content header>div {
  margin: 0 0 0 24px
}

#content header>div>h1 {
  font-size: 96px;
}

#content header>div>div {
  display: flex;
  align-items: center;
  gap: 4px;
}

#content header>div>div img {
  width: 28px;
  height: 28px;
  border-radius: 999px;
}

#content section {
  width: 100%;
  padding: 24px 0 0 0;
  background: linear-gradient(180deg, #332464, #000000);
}

#content section>div:nth-child(1) {
  padding: 0 32px 24px 32px;
}

#content section div>button {
  width: 56px;
  height: 56px;
  border-radius: 999px;
  background-color: #1ed760;
  border: none;
}

#content section>div>button path {
  color: black;
}

#content .musics {
  width: 100%;
  height: 100%;
}

.table {
  position: relative;
  height: 100%;
  padding-bottom: 10px;
  margin: 0 32px;
}

.divider {
  border-bottom: 1px solid grey;
  width: 100%;
  position: absolute;
  top: 36px;
  padding: 0 32px;
}


table {
  width: 100%;
  height: 100%;
  padding: 0 0 0 16px;
  justify-content: space-between;
  border-spacing: 0;
}

table thead {
  align-items: center;
  height: 36px;
}

table tbody {
  white-space: nowrap;
}

table td,
table th {
  border: none;
}

table img {
  width: 40px;
  height: 40px;
}

table .id {
  width: 16px;
}

table .music {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 56px;
}

table .music p:first-child {
  color: white;
}

.music>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table th {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}

table th:nth-child(5) {
  width: 75px;
  display: flex;
  justify-content: flex-end;
}

table td:nth-child(5) {
  width: 90px;
}

table td:nth-child(5)>button,
table td:nth-child(5)>p {
  display: inline;
}

table tbody tr {
  height: 56px;
  align-content: center;
}

table tbody tr:hover {
  background-color: #5a5a5a;
}

table td {
  align-items: center
}

@media (max-width: 888px) {
  #content header>img {
    height: 100px;
    width: 100px;
  }

  #content header div>h1 {
    font-size: 20px;
  }

  #nav {
    width: 170px;
  }

  #player .right {
    display: none;
  }
}

@media (max-width: 700px) {

  table th:nth-child(3),
  table td:nth-child(3) {
    display: none;
  }
}

@media (max-width: 600px) {

  table th:nth-child(4),
  table td:nth-child(4) {
    display: none;
  }
}